#div_1{

	background-color:white;
	height:150px;
	top:none;
	position:fixed;
	margin-left: -10px;
	margin-right: -10px;
	text-align:right;
	width:100%;
	margin-top:-10px;
}


#title{
		font-size:50px;
		font-family:helvetica;
		float:left;
		margin-left:20px;

}
#green{
		color:green;
	

}

li{
	display: inline-block;
	text-decoration:none;
	list-style: none;
	font-size:20px;
	margin-right:20px;
	font-family: helvetica;
	top:40px;
	position:relative;

}

#li_1{
	
      margin-right:40px;
}

#li_2{
      margin-right:40px;
}

#li_3{


}

a:link{
	color: navy;
}

a:visited {
	color:navy;
}

a:hover{
	color: navy;
}

a:active{
	color:red;
}








body{
	background-color:Lavender;
}

footer{
	position:relative;
	top:1000px;
	background-color: LightSteelBlue;
	margin-left:-10px;
	margin-right:-10px;
	height:275px;
}
