li{
	display: inline-block;
	text-decoration:none;
	list-style: none;
	font-size:50px;
	border-top:3px solid white;
	font-family: Garamond;

}

#li_1{
	  margin-left:290px;
      margin-right:100px;
}

#li_2{
      margin-right:100px;
}

#li_3{


}

a:link{
	color: white;
}

a:visited {
	color:white;
}

a:hover{
	color: navy;
}

a:active{
	color:red;
}


#div_1{

	background-color:white;
	height:200px;
	top:160px;
	position:relative;
	margin-left: -10px;
	margin-right: -10px;
	text-align: center;
}

#span_1{
	position: relative;
	top:70px;
	font-family: Garamond;
	font-size: 40px;
}


body{
	background-color:Lavender;
}

footer{
	position:relative;
	top:1000px;
	background-color: LightSteelBlue;
	margin-left:-10px;
	margin-right:-10px;
	height:275px;
}
