li{
	display: inline-block;
	text-decoration:none;
	list-style: none;
	font-size:50px;
	
	border-top:3px solid white;


}

#li_1{
	  
	  margin-left:350px;
      margin-right:100px;


}
#li_2{

      margin-right:100px;


}

#li_3{
	



}

a:link{
	color:white;
	

}

a:hover{
	color:navy;
}

